{{define "title"}}HTML Templates // Supermoto{{end}}

{{define "main"}}
<div class="border padding margin-bottom">
    <h1>HTML Templates</h1>

</div>


## Temp examples


### Render a template with variables

func ServeTemplates(w http.ResponseWriter, data any, templatePaths []string) error {
	// If there is a base template, it should be first in templatePaths
	t, err := template.ParseFiles(templatePaths...)
	if err != nil {
		http.Error(w, "Error parsing template", http.StatusInternalServerError) // This tells the user something went wrong
		fmt.Println("Error parsing template:", err)
		return err
	}
	err = t.Execute(w, data)
	if err != nil {
		http.Error(w, "Error executing template", http.StatusInternalServerError)
		fmt.Println("Error executing template:", err)
		return err
	}
	return nil
}

func GetPosts(w http.ResponseWriter, r *http.Request) {
	posts := Posts()
	ServeTemplates(w, map[string]any{"r": r, "posts": posts}, []string{"views/base.html", "views/root.html"})
}

At image of the invisible, head home for tuna lunch.

### 

{{end}}